<div class="card text-start" appHoverCard>
  <div class="card-body">
    <!-- <h6>Index: {{ i + 1 }}</h6> -->
    <h6>ID : {{ trackItem.id }}</h6>

    <!-- Class Binding -->

    <!-- <h4 [class]="myClasses">{{ trackItem.name }}</h4> -->

    <!-- <h4
            [class.text-success]="trackItem.coursesCount > 15"
            [class.text-danger]="trackItem.coursesCount < 15"
            [class.text-center]="trackItem.studentsCount < 20"
          >
            {{ trackItem.name }}
          </h4> -->

    <!-- Style Binding -->

    <!-- <h4 [style.color]="trackItem.coursesCount > 15 ? 'red' : 'green'"
            >
            {{ trackItem.name }}
          </h4> -->

    <!-- ngClass Directive -->

    <!-- <h4
            [ngClass]="{
              'text-success': trackItem.coursesCount > 15,
              'text-danger': trackItem.coursesCount < 15,
              'text-center': trackItem.studentsCount < 20,
            }"
          >
            {{ trackItem.name }}
          </h4> -->

    <!-- ngStyle Directive -->
    <h4
      [ngStyle]="{
        color: trackItem.coursesCount > 15 ? 'red' : 'green',
      }"
    >
      <!-- {{ trackItem.name | uppercase }} -->
      <!-- {{ trackItem.name | lowercase }} -->
      {{ trackItem.name | titlecase }}
    </h4>

    @if (trackItem.description) {
      <p class="card-text">{{ trackItem.description | truncate: 15 }}</p>
    }

    <p class="card-text">Track Courses: {{ trackItem.coursesCount }}</p>

    @switch (trackItem.coursesCount) {
      @case (2) {
        <p class="text-danger">عدد الكورسات قليل جدا</p>
      }
      @case (25) {
        <p class="text-success">عدد الكورسات معقول</p>
      }
      @case (30) {
        <p class="text-warning">عدد الكورسات كبير جدا</p>
      }
      @default {
        <p class="text-primary">عدد الكورسات عادي</p>
      }
    }

    <p class="card-text">Price: {{ trackItem.price | currency: 'EGP ' }}</p>

    <p class="card-text">Track Hours: {{ trackItem.hours }}</p>
    <p class="card-text">Track StdCount: {{ trackItem.studentsCount }}</p>

    @if (trackItem.studentsCount > 15) {
      <p class="text-danger">العدد كبير</p>
    } @else if (trackItem.studentsCount < 15) {
      <p class="text-warning">العدد عادي</p>
    } @else {
      <p class="text-success">العدد مظبوط</p>
    }
  </div>

  <div class="card-footer">
    <div class="d-flex gap-3">
      <button class="btn btn-success" (click)="increase(trackItem)">Add Student</button>
      <button class="btn btn-danger" (click)="delete(trackItem.id)">Delete</button>
    </div>
  </div>
</div>
